<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post.title, topic_post_path(post.topic, post) %>
    </h4>
    <div class="media-left">
      <small>
        <%= post.points %> Votes
        <%= post.comments.count %> Comments
      </small>
    </div>
  </div>
</div>
