/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
  margin-right: 150px;

  .row {
    padding: 5px;
  }
}

.nav {
  margin-top: 5px;
}
